@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
    --primary-color: white;
    --secondary-color: black;
}

* {
    padding: auto;
    margin: auto auto;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 450vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark_mode {
    --primary-color: #252525;
    --secondary-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover {
    color: #F0C808;
}

button {
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 100px;
    transition: 150ms ease;
    user-select: none;
}

button:hover {
    width: 210px;
}

button:focus {
    outline: none;
}

.wrapper {
    height: min-content;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.error-container {
    margin-right: 10px;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;
}

.subcontent a {
    color: var(--secondary-color);
    text-decoration: none;
}

.subcontent a:hover {
    color: #0093E9;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: var(--secondary-color);
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.medium-text {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
}