@import "./main.css";

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1921px) {
    .body--container {
        width: 80%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 { font-size: 6em; font-family: 'Cairo Play', sans-serif; }
    h2 { font-size: 4em; font-family: 'Cairo Play', sans-serif; }
    h3 { font-size: 2.5em; }
    h4 { font-size: 1.8em; }
    h5 { font-size: 1.4em; }
    p { font-size: 1.2em; text-align: justify; }
    strong { font-size: 2.5em; color: var(--disable); }
    
    .body--container {
        width: 80%;
    }

    .mobile-hidden {
        display: none;
    }
}

/* Mobile phone */
@media screen and (max-width: 767px) {
    h1 { font-size: 4em; font-family: 'Cairo Play', sans-serif; }
    h2 { font-size: 3em; font-family: 'Cairo Play', sans-serif; }
    h3 { font-size: 2em; }
    h4 { font-size: 1.5em; }
    h5 { font-size: 1.2em; }
    p { font-size: 1em; text-align: justify; }
    strong { font-size: 2em; color: var(--disable); }
    
    .body--container {
        width: 90%;
    }

    .mobile-hidden {
        display: none;
    }
}